/* --- fonts --- */

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
       url('./fonts/rubik-v9-latin-regular.woff2') format('woff2'),
       url('./fonts/rubik-v9-latin-regular.woff') format('woff');
}

/* --- global variables and properties--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  --page_width: 97vw;
  --grid_size: 6;
  --grid_width: var(--page_width);
  --cell_width: calc(var(--grid_width) / var(--grid_size));
  --font_size_tile_adaptable: 25px;
  --font_size_tile: var(--font_size_tile_adaptable);
}

@media screen and (min-width: 630px) {
  html {
    --page_width: 402px;
    --cell_width: 50px;
    --grid_width: calc(var(--cell_width) * var(--grid_size));
    --font_size_tile: 25px;
  }
}

body {
  background-color: var(--col_bg1);
  color: var(--col_game_text);
  font-size: 2.3vh;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

/* --- color theme variables --- */

body.dark {
  --col_bg1: #1d2a3a;
  --col_bg2: #1b1b2f;
  --col_border: black;
  --col_game_text: #888;
  --col_button_bg1: var(--col_bg1);
  --col_btn_press: tomato;
  --col_grid_bg0: black;
  --col_grid_bg1: #1f4068;
  --col_grid_bg2: #162447;
  --col_grid_text: #e43f5a;
  --col_grid_hover: tomato;
  --col_player: goldenrod;
  --opacity_dim: 0.35;
}

body.light {
  --col_bg1: lightyellow;
  --col_bg2: lavenderblush;
  --col_border: black;
  --col_game_text: saddlebrown;
  --col_button_bg1: var(--col_bg1);
  --col_btn_press: tomato;
  --col_grid_bg0: black;
  --col_grid_bg1: lavender;
  --col_grid_bg2: peachpuff;
  --col_grid_text: rebeccapurple;
  --col_grid_hover: tomato;
  --col_player: brown;
  --opacity_dim: 0.55;
}

/* --- display and positioning classes --- */

.hidden {
  display: none !important;
}

.width_wrapper {
  width: var(--page_width);
  margin: 0 auto;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.space_evenly {
  display: flex;
  justify-content: space-evenly;
}

.pos_container {
  position: relative;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

/* --- header --- */

header {
  margin-bottom: 1.5vh;
  padding: 0.75vh 0;
  background-color: var(--col_bg2);
}

#title {
  font-size: 3vh;
  font-weight: 500;
}

/* --- sign boxes --- */

#plusminus_pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--col_border);
  font-size: 2.3vh;
}

.plusminus_pair_pregame {
  background-color: var(--col_bg2);
  color: var(--col_game_text);
}

.plusminus_pair_in_game {
  background-color: var(--col_grid_bg1);
  color: var(--col_grid_text);
}

.plusminus_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vh;
  height: 4vh;
  border: 1px solid var(--col_border);
}

.plusminus_box_bg {
  background-color: var(--col_grid_bg2);
}

.current_sign {
  color: var(--col_grid_hover);
  border-color: var(--col_grid_hover);
  border-width: 3px;
}

/* --- color theme toggle --- */

#theme_toggler {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  color: var(--col_game_text);
  font-size: 3vh;
}

#theme_toggle_icon {
  font-size: 3.3vh;
  transition: color 0.25s;
}

#theme_toggler:active #theme_toggle_icon {
  color: var(--col_btn_press);
}

@media (hover: hover) {
  #theme_toggler:hover #theme_toggle_icon {
    color: var(--col_btn_press);
  }
}

/* --- buttons without borders --- */

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  color: var(--col_game_text);
  font-size: 2vh;
  font-weight: 300;
  transition: color 0.25s, transform 0.25s ease-in-out;
}

.btn .mdi {
  font-size: 5vh;
}

.btn:active {
  color: var(--col_btn_press);
}

@media (hover: hover) {
  .btn:hover {
    transform: scale(1.15);
    color: var(--col_btn_press);
  }
}

/* --- buttons with borders --- */

.btn_pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5vh;
}

.btn_trio {
  margin-bottom: 1.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5vh;
}

.btn_border {
  padding: 1vh;
  border: 2px solid var(--col_game_text);
  background-color: var(--col_bg2);
  color: var(--col_game_text);
  font-size: 2.5vh;
  font-weight: 300;
  transition: color 0.25s;
}

.btn_border:active, .btn_border.active {
  background-color: var(--col_game_text);
  color: var(--col_bg2);
}

@media (hover: hover) {
  .btn_border:hover {
    background-color: var(--col_game_text);
    color: var(--col_bg2);
  }
}

/* --- input fields --- */

input {
  display: inline-block;
  padding: 1.5vh;
  border: 1px solid var(--col_game_text);
  background-color: var(--col_bg1);
  color: var(--col_game_text);
  font-size: 3.5vh;
  text-align: center;
}

.input_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5vh;
  border: 1px solid var(--col_game_text);
}

input[type="number"] {
  width: 8ch;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.btn_step {
  display: inline-block;
  border-width: 1px;
  outline: none;
  font-size: 3.5vh;
}

label {
  display: inline-block;
  margin-bottom: 0.5vh;
}

/* --- generic text elements --- */

.textBox {
  margin: 1.5vh auto;
  padding: 0.5vh;
  background-color: var(--col_bg2);
  border: 2px solid var(--col_border);
  font-size: 15px;
  text-align: left;
}

.center_text {
  text-align: center;
}

ul {
  margin-top: 0.75vh;
	padding-left: 2.5vh;
  font-size: 0.9em;
}

/* --- show leaderboard --- */

.leaderboard_list_item {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  grid-gap: 1vh;
  font-size: 0.9em;
}

/* --- popup box --- */

.popup_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vh 3vh 2vh 3vh;
  background-color: var(--col_bg2);
  display: flex;
  flex-direction: column;
  font-size: 2.5vh;
  text-align: center;
}

.popup .mdi {
  margin-bottom: 0.25vh;
  font-size: 5vh;
}

/* --- game grid and tiles --- */

#grid {
  margin: 1.5vh auto;
  border: 1px solid var(--col_border);
  box-sizing: content-box;
  width: var(--grid_width);
  height: var(--grid_width);
  background-color: var(--col_grid_bg0);
  display: grid;
  grid-template-rows: repeat(var(--grid_size), 1fr);
}

#grid .row {
  display: grid;
  grid-template-columns: repeat(var(--grid_size), 1fr);
}

#grid .row:nth-child(even) .tile:nth-child(even) {
  background-color: var(--col_grid_bg2);
}

#grid .row:nth-child(odd) .tile:nth-child(odd) {
  background-color: var(--col_grid_bg2);
}

#grid .tile {
  width: var(--cell_width);
  height: var(--cell_width);
  outline: none;
  border: 1px solid var(--col_border);
  background-color: var(--col_grid_bg1);
  color: var(--col_grid_text);
  font-size: var(--font_size_tile);
}

#grid .tile:hover {
  color: var(--col_grid_hover);
  border: 3px solid var(--col_grid_hover);
}

#grid .tile:disabled {
  color: var(--col_grid_text);
  border: 1px solid var(--col_grid_bg0);
}

.player_token {
  font-size: var(--font_size_tile);
  color: var(--col_player);
}

.tile_dimmed {
  opacity: var(--opacity_dim);
}
