:root {
  --grid_size: 6;
  --grid_width: 95vw;
  --max_grid_width: 55vh;
  --max_cell_width: calc(var(--max_grid_width) / var(--grid_size));
}

html {
  font-family: "Rubik", sans-serif;
}

body.dark {
  --col_bg1: #1d2a3a;
  --col_bg2: #1b1b2f;
  --col_game_text: #888;
  --col_button_bg1: var(--col_bg1);
  --col_btn_press: tomato;
  --col_grid_bg0: black;
  --col_grid_bg1: #1f4068;
  --col_grid_bg2: #162447;
  --col_grid_text: #e43f5a;
  --col_grid_hover: tomato;
  --col_player: goldenrod;
}

body.light {
  --col_bg1: lightyellow;
  --col_bg2: lavenderblush;
  --col_game_text: saddlebrown;
  --col_button_bg1: var(--col_bg1);
  --col_btn_press: tomato;
  --col_grid_bg0: black;
  --col_grid_bg1: lavender;
  --col_grid_bg2: peachpuff;
  --col_grid_text: rebeccapurple;
  --col_grid_hover: tomato;
  --col_player: brown;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--col_bg1);
}

/* positioning classes */

.width_wrapper {
  width: var(--grid_width);
  max-width: var(--max_grid_width);
  margin: 0 auto 0 auto;
  text-align: center;
}

.spread {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* --- header --- */

header {
  padding: 0.75vh 0;
  background-color: var(--col_bg2);
}

#title {
  margin: 0;
  color: var(--col_game_text);
  font-size: 2.5vh;
  font-weight: 500;
}

/* --- sign boxes --- */

#plusminus_pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--col_grid_bg0);
  box-sizing: border-box;
}

#plusminus_pair div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5vh;
  height: 3.5vh;
  border: 1px solid var(--col_grid_bg0);
  box-sizing: border-box;
  color: var(--col_game_text);
  font-size: 2.3vh;
}

#plusminus_pair div.sign_box_in_game {
  color: var(--col_grid_text);
}

#plusminus_pair div.current_sign {
  color: var(--col_grid_hover);
  border-color: var(--col_grid_hover);
  border-width: 0.45vh;
}

/* --- color theme toggle --- */

#toggle_box {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: var(--col_game_text);
  font-size: 2.8vh;
}

#col_tog {
  font-size: 3.3vh;
  transition: color 0.25s;
}

#toggle_box:active #col_tog {
  color: var(--col_btn_press);
}

@media (hover: hover) {
  #toggle_box:hover #col_tog {
    color: var(--col_btn_press);
  }
}

/* --- UI buttons --- */

.btn_holder {
  margin: 0.75vh 0;
  box-sizing: border-box;
}

.btn_pair {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vmin;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: var(--col_game_text);
  font-size: 2vh;
  font-weight: 300;
  transition: color 0.25s, transform 0.25s ease-in-out;
}

.btn:active {
  color: var(--col_btn_press);
}

@media (hover: hover) {
  .btn:hover {
    transform: scale(1.15);
    color: var(--col_btn_press);
  }
}

.btn .mdi {
  font-size: 5vh;
}

/* --- generic text elements --- */

.gameText {
  font-size: 2.3vh;
  color: var(--col_game_text);
}

#info_text {
  position: relative;
  margin-top: 2vh;
  margin-left: 2vh;
  text-align: left;
  font-size: 1em;
}

/* --- game grid and tiles --- */

#grid {
  margin: 0.75vh 0 0.5vh 0;
  border: 1px solid var(--col_grid_bg0);
  width: var(--grid_width);
  height: var(--grid_width);
  max-width: var(--max_grid_width);
  max-height: var(--max_grid_width);
  box-sizing: border-box;
  background-color: var(--col_grid_bg0);
  display: grid;
  grid-template-rows: repeat(var(--grid_size), 1fr);
}

#grid .row {
  display: grid;
  grid-template-columns: repeat(var(--grid_size), 1fr);
}

#grid .row:nth-child(even) .tile:nth-child(even) {
  background-color: var(--col_grid_bg2);
}

#grid .row:nth-child(odd) .tile:nth-child(odd) {
  background-color: var(--col_grid_bg2);
}

#grid .tile {
  outline: none;
  max-width: var(--max_cell_width);
  max-height: var(--max_cell_width);
  border: 1px solid var(--col_grid_bg0);
  background-color: var(--col_grid_bg1);
  color: var(--col_grid_text);
  font-size: 4vh;
}

#grid .tile:hover {
  color: var(--col_grid_hover);
  border: 0.45vh solid var(--col_grid_hover);
}

#grid .tile:disabled {
  color: var(--col_grid_text);
  border: 1px solid var(--col_grid_bg0);
}

.player_token {
  font-size: 4vh;
  color: var(--col_player);
}
