:root{
  --grid_size: 45vh;
  --min_grid_size: 400px;
  --max_grid_size: 95vw;
  --cell_size: 20%;
}

.clearfix_after::after {
    content: "";
    display: table;
    clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body.dark {
  --col_bg: #1D2A3A;
  --col_game_text: #888;
  --col_button_bg1: #1b1b2f;
  --col_grid_bg0: black;
  --col_grid_bg1: #1f4068;
  --col_grid_bg2: #162447;
  --col_grid_text: #e43f5a;
  --col_grid_hover: yellow;
  --col_player: white;
}

body.light {
  --col_bg: lightyellow;
  --col_game_text: saddlebrown;
  --col_button_bg1: honeydew;
  --col_grid_bg0: chocolate;
  --col_grid_bg1: lavender;
  --col_grid_bg2: peachpuff;
  --col_grid_text: rebeccapurple;
  --col_grid_hover: black;
  --col_player: brown;
}

body {
  background-color: var(--col_bg);
}

nav {
  text-align: center;
}

h2 {
  color: var(--col_game_text);
  padding: 15px 0 10px 0;
  font-size: 2vh;
}

.button {
  /* width: 7em; */
  margin: 1vh;
  padding: 1vh;
  border-radius: 5px;
  border-color: inherit;
  background-color: var(--col_button_bg1);
  color: var(--col_game_text);
  font-size: 2.5vh;
}

.button:hover {
  color: tomato;
  border-color: tomato;
}

#wrapper {
  width: var(--grid_size);
  min-width: var(--min_grid_size);
  max-width: var(--max_grid_size);
  margin: 0 auto 10px auto;
  text-align: center;
}

.gameText {
  font-size: 2.3vh;
  color: var(--col_game_text);
}

#grid {
  width: var(--grid_size);
  height: var(--grid_size);
  min-width: var(--min_grid_size);
  min-height: var(--min_grid_size);
  max-width: var(--max_grid_size);
  max-height: var(--max_grid_size);
  margin: 5px auto 5px auto;
  border: 1px solid var(--col_grid_bg0);
  background-color: var(--col_grid_bg0);
  text-align: center;
  line-height: 100%;
}

#grid .row {
  width: 100%;
  height: var(--cell_size);
}

#grid .row:nth-child(even) > button:nth-child(even) {
  background-color: var(--col_grid_bg2);
}

#grid .row:nth-child(odd) > button:nth-child(odd) {
  background-color: var(--col_grid_bg2);
}

#grid button {
  display: inline-block;
  width: var(--cell_size);
  height: 100%;
  border: 1px solid var(--col_grid_bg0);
  background-color: var(--col_grid_bg1);
  font-size: 4vh;
}

#grid button:enabled:hover {
  /* color: yellow; */
  border-color: var(--col_grid_hover);
}

#grid button:disabled {
  border-color: var(--col_grid_bg0);
}
